.users {
  .users-list {
    overflow: hidden;
    border-radius: 12px;
    border: 1px solid var(--Gray-200, #eaecf0);
    background: var(--Base-White, #fff);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }
}
