.app {
  .sadebar {
    border-right: 2px solid var(--Gray-200, #eaecf0);
    background: var(--Base-White, #fff);
  }
  .active {
    border-radius: 6px;
    background: var(--Gray-50, #f9fafb);
  }
  .logout-img {
    transition: all 0.3s ease-in-out;
  }
}
