.app {
  display: flex;
  align-items: start;
  .sidebar {
    height: 100dvh;
    border-right: 2px solid var(--Gray-200, #eaecf0);
    background: var(--Base-White, #fff);
  }
  .active {
    border-radius: 6px;
  }
  .logout-img {
    transition: all 0.3s ease-in-out;
  }
}
